<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Obey Loop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="start-screen">
    <button id="start-button">CLICK</button>
    <p id="start-text">to become obsessed with DAHLIA</p>
  </div>

  <div id="main-content" style="display: none;">
    <img src="{{ url_for('static', filename='spiral.png') }}" id="spiral" />
    <div id="text-container"></div>
    <audio id="hypno-audio" src="{{ url_for('static', filename='audio/hypno.mp3') }}" loop></audio>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
