<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Obey Loop</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <img id="spiral" src="{{ url_for('static', filename='images/spirale.png') }}" alt="spirale">
  
  <div id="text-container">Empty your mind</div>

  <audio id="audio" src="{{ url_for('static', filename='audio/voice.mp3') }}"></audio>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
